<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <base href="{{ _base_uri }}"/>
    <title>{% block title %}Admin{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Source+Code+Pro:300,400,700,900|Source+Sans+Pro:200,400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="assets/admin/css/bootstrap.css">
    <link rel="stylesheet" href="assets/admin/css/bootstrap-theme.css">
    <script src="assets/admin/js/bootstrap.js"></script>
</head>
<body>
<div class="container">

    <div class="jumbotron">
        <div id="logo">
            <a href="{{ _router.generateUrl("admin_homepage") }}">
                <img src="img/gephart.svg" alt="Gephart"/>
            </a>
        </div>

        <form action="{{ _route.generateUrl("admin_login") }}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>